html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.container {
    margin-bottom: 50px; /* Kho?ng tr?ng cho footer */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px; /* Chi?u cao footer */
    text-align: center;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.lblMesSuc {
    display: none;
    top: 7%;
    position: absolute;
    border: 1px;
    padding: 10px;
    border-radius: 5px;
    font-weight: 900;
    background-color: #DFF0D8;
    color: #468847;
}

.lblMesErr {
    display: none;
    top: 2%;
    position: absolute;
    border: 1px;
    padding: 10px;
    border-radius: 5px;
    font-weight: 900;
    background-color: #DFF0D8;
    color: red;
}

.animeSuc {
    text-align: center;
    opacity: 0;
    animation: fade-in 0.25s ease-in-out forwards, fade-out 0.5s ease-in-out forwards;
    animation-delay: 0.1s, 4s;
    animation-fill-mode: forwards;
}

.animeErr {
    text-align:center;
    opacity: 0;
    animation: fade-in 0.25s ease-in-out forwards, fade-out 0.5s ease-in-out forwards;
    animation-delay: 0.1s, 4s;
    animation-fill-mode: forwards;
    z-index: 4;
}

.con {
    display: flex;
    justify-content: center;
    align-items: center;
}

.conErr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    line-height: 1;
    text-decoration: none;
    display: inline-flex;
    border: none;
    cursor: pointer;
    align-items: center;
    gap: 0.75rem;
    background-color: #343a40;
    color: #fff;
    border-radius: 10rem;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color 0.3s;
}

.button__icon-wrapper {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    position: relative;
    color: #343a40;
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.button:hover {
    background-color: #000;
}

    .button:hover .button__icon-wrapper {
        color: #000;
    }

.button__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
}

.button:hover .button__icon-svg:first-child {
    transition: transform 0.3s ease-in-out;
    transform: translate(150%, -150%);
}

.button:hover .button__icon-svg--copy {
    transition: transform 0.3s ease-in-out 0.1s;
    transform: translate(0);
}